<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>




<body>
  <main>

    Hello there


    <div>
      <h1>
        My Lists
      </h1>


<p>
  <a href="{% url 'todo_list_create'  %}">Create a new list</a>
</p>


    

      <table style="width:100%">

        <thead>
          <tr>

            row
            <th>Name</th>
            <th>Number of items</th>
          </tr>
        </thead>

        <tbody>
        {% for to_do_list in todo_lists %}

          <tr>
        <td><a href="{% url 'todo_list_detail' to_do_list.id %}" > {{ to_do_list.name }} </a></td>
            <td></td>

          </tr>
          {% endfor %}

        </tbody>
      </table>


    






    </div>

  </main>
</body>

</html>