<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>




<body>
  <main>

    {{ todo_list_detail.name }}


    <div>
      <h1>
        Tasks
      </h1>


    

      <table style="width:100%">

        <thead>
          <tr>

            row
            <th>Task</th>
            <th>Due date</th>
          </tr>
        </thead>

        <tbody>
        {% for item in todo_list_detail.items.all %}

          <tr>
         
            <td> {{ item.task }} </td> <td>  {{ item.due_date }}  </td>

          </tr>
          {% endfor %}

        </tbody>
      </table>


    






    </div>

  </main>
</body>

</html>